:root {
    --main-color: #1b1b1b;
    --secondry-color: #aaa;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.05em;
    color: var(--main-color);
    background-color: #fcfcfc;
    /* position: relative; */
    /* overflow-x: hidden; */
}

#page-container {
    position: relative;
    min-height: 100vh;
    max-width: 2000px;
    margin: 0 auto;
    padding: 100px 50px;
}
.charts-grid {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    grid-gap: 20px;



}
.left-grid{
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: 2fr 340px 340px 340px;
    grid-gap: 10px;

}
.right-grid{
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;

}
.site-header {
    background-color: var(--main-color);
    color: white;
    font-size: 1.2rem;
    /* height: 50px; */
}

.header-content {
    padding: 5px 10px;
    color: white;
    /* position: relative; */


}

.right-header {

    float: right;
}

.site-header a,
.site-header a:visited,
.site-header a:active {
    color: white;
}

.site-header a:hover {
    color: red;
    transition: all ease 0.5s;
}