:root {
    --main-color: #1b1b1b;
    --secondry-color: #aaa;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.05em;
    color: var(--main-color);
    background-color: #fcfcfc;
    /* position: relative; */
    /* overflow-x: hidden; */
}

#page-container {
    position: relative;
    min-height: 100vh;
    max-width: 2000px;
    margin: 0 auto;
    padding: 100px 50px;
}
.charts-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1.5fr 1.5fr 2fr;
    grid-gap: 20px;



}
.triples{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;
}

.site-header {
    background-color: var(--main-color);
    color: white;
    font-size: 1.2rem;
    /* height: 50px; */
}

.header-content {
    padding: 5px 10px;
    color: white;
    /* position: relative; */


}

.right-header {

    float: right;
}

.site-header a,
.site-header a:visited,
.site-header a:active {
    color: white;
}

.site-header a:hover {
    color: red;
    transition: all ease 0.5s;
}



@media only screen and (max-device-width: 950px),
screen and (max-width: 950px) {
    .header-content {
        padding: 2px 5px;
        color: white;
        /* position: relative; */
    
    
    }
    
    .right-header {
        float: none;
    }

    #page-container {
        position: relative;
        min-height: 100vh;
        max-width: 2000px;
        margin: 0 auto;
        padding: 50px 10px;
    }

    .charts-grid {
        margin-top: 10px;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto;
        grid-gap: 30px;
    
    
    
    }

    .triples{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto;
        grid-gap: 30px;
    
    }
   

}