{% extends "layout.html" %}
{% block content %}
    <p>Severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2), formerly known as the 2019 novel coronavirus
        (2019-nCoV),is a positive-sense single-stranded RNA virus. It is contagious among humans and is the cause of
        coronavirus disease 2019 (COVID-19).[8] There is no vaccine available.<u>Wikipedia</u>
    </p>
    <div class="charts-grid">
        <div class="chart" id="bargraph" >
            <script>
                var graphs = {{cnfrmd_frame | safe}};
                Plotly.plot('bargraph',graphs,{});
            </script>
        </div>
        <div class="chart" id="world_wide_plot" >
            <script>
                var graphs = {{world_wide_plot | safe}};
                Plotly.plot('world_wide_plot',graphs,{});
            </script>
        </div>
        <div class="chart" id="exc_china_plot" >
            <script>
                var graphs = {{exc_china_plot | safe}};
                Plotly.plot('exc_china_plot',graphs,{});
            </script>
        </div>
        <div class="chart" id="barchart_plot" >
            <script>
                var graphs = {{barchart_plot | safe}};
                Plotly.plot('barchart_plot',graphs,{});
            </script>
        </div>
        
    </div>
    
        

    
{% endblock content %}